/* Side block links */

.l-block-links {
    position:fixed;
    top:50%;
    right:-300px;
    text-align:right;
    transform:translateY(-50%);
    background-color:transparent !important;
    transition:right 750ms ease-out;
    z-index:10;
}

.l-block-links.is-active {
    right:30px;
}

.block-link {
    cursor:pointer;
    margin-bottom:10px;
}

.block-link:last-of-type {
    margin:0;
}

.block-link_title {
    color:inherit;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px; 
    position:relative;
    opacity:0.7;
    transition:all 350ms ease-out;
}

.block-link_title_underline {
    position:absolute;
    bottom:0;
    left:300%;
    width:300%;
    height:2px;
    transition:all 350ms ease-out;
}

.block-link.is-active .block-link_title {
    opacity:1;
}

.block-link.is-active .block-link_title_underline {
    left:0;
}

@media all and (max-width:767px) {
    .l-block-links {
        display:none;
    }   
}

/* navbar */

.navbar {
    position:fixed;
    top:0;left:0;
    width:100%;
    box-sizing:border-box;
    z-index:100;
    text-align:right;
    padding:25px 30px;
}

.navbar_logo {
    position:absolute;
    top:14px;left:30px;
    opacity:1;
    transition:opacity 350ms ease-out;
}

.navbar_logo_top, .navbar_logo_bottom {
    text-align:center;
    font-family:'Poppins';
    font-weight:400;
    color:inherit;
    letter-spacing:2px;
    font-size:17px;
    transition:color 750ms ease-out;
}

.navbar_logo_bottom {
    font-size:22px;
    margin-top:-2px;
}

.navbar_link {
    display:inline-block;
    font-family:'Source Sans Pro';
    font-size:13px;
    margin-left:40px;
    color:#FFFFFF;
    text-decoration:none;
    letter-spacing:1px;
    transition:color 750ms ease-out;
    position: relative;
}

.navbar_link::after {
    content:'';
    position:absolute;
    bottom:-1px;right:0;
    width:0%;
    height:2px;
    background-color:#FFFFFF;
    transition:all 400ms ease-out;
}

.navbar_link--black::after {
    background-color:#111111;
}

.navbar_link:hover::after {
    width:100%;
    left:0;right:auto;
}

@media all and (max-width:550px) {
    .navbar_link:nth-child(-n + 3) {
        display:none;
    }
    .navbar {
        padding-right:15px;
    }
    .navbar_logo {
        left:15px;
    }
}